.addButton {
    padding: 0px 30px;
    height: 35px;
    border: #cccaca 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 16px;
 }