body {
    background-color: #e4e6e6;
    color: #333;
    font-family: 'Lato', sans-serif;
    padding: 10px 30px;
    font-size: 16px;

}

select {
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    margin: 0 5px;
    line-height: 30px;
    margin: 0 10px;
    font-size: 16px;

}


input.addTodo  {
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    margin: 0 5px;
    line-height: 30px;
    width: 150px;
    font-size: 16px;
    padding: 0 5px;
    
}

ul {
    padding: 20px 0 0 0;
    /*width: 790px;*/
    margin: 0;
}



h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

@media (max-width: 450px) {
body {
    font-size: 18px;
}


form {
    margin: auto 0;
}

li span {
    margin-right: auto;
    flex-grow: 8;
}

}

.landingPage {
    margin: auto 20%;
    padding: 20px 20px 50px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 20px;
    display: inline-block;
 }

 .landingPage img {
    border-radius: 20px;
 }

 .landingPage h1 {
    color: #333;
    text-align: center;
 
 }

 a.startButton {
    display: block;
    width: 300px;
    padding: 10px 30px;
    border: #cccaca 1px solid;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    border-radius: 5px;
    color: #444;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    text-align: center;
 }

 a.startButton:hover {
    color: #333;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.30) inset;


 }

 .container {
    margin: 0px auto;
    /* background-color: white;
    border: #cccaca 1px solid;
    border-radius: 10px; */
    padding: 0 20px ;
 }

 .listContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFF;


 }

 .listColumn {
    flex: 50%;
 }

 .sorting {
    display: flex;
 }

 .addForm {
    flex-grow: 5;
 }



 .tabs {
    width: 150px;
    padding: 10px 0px;
    border: #cccaca 0px solid;
    background-color: transparent;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;*/
    color: #333;
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 14px;
    display: inline-block;
 }

 .disabled {
    text-decoration: none;
    color: #AAAAAA;
 }

 .tabs:hover {
    text-decoration: none;
 }

 input.editTodo {
    padding: 0 5px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    margin: 0 5px;
    width: 90%;
    font-size: 16px;

}
