li {
    display: flex;
    list-style-type: none;
/*    background-color: #FFF;*/
    
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #a1a1a1;
}

li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

li span {
    line-height: 40px;
    flex-grow: 8;
}

.ListItem_completed {
 color: #999999;
 
}

.ListItem {
    color: #333333;
    
   }

 .ListItem .dragging {
    background-color: rgb(149, 196, 250);
    opacity: 1;
}

.checkbox {
    margin: auto 10px ;
    width: 22px;
    height: 22px;
    line-height: 50px;
    border: #a1a1a1 1px solid;
    border-radius: 2px;
    
}

.removeButton {
    background-image: url("delete-button.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: transparent;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border: 0px solid #a1a1a1;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; */
   
}

.editButton {
    background-image: url("edit-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: transparent;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border: 0px solid #a1a1a1;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px; */
}

.saveButton {
    background-image: url("save-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: transparent;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    border: 0px solid #a1a1a1;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;  */
}

.removeButton:hover, .editButton:hover, .saveButton:hover {
    opacity: 0.8;
}



